.footer__menu-link {
    font-family: 'Montserrat';
    font-weight: 400;
    text-decoration: none;
    font-size: 23.6px;
    color: $header__text--color;

    &:hover {
        text-decoration: underline;
    }
}