html {
	font-size: 14px;
}

body {
	position: relative;
	margin: auto;
}

.wrap {
	@include min-max (1030px, 320px);
	margin: auto;
}

.container {
	@include min-max (1400px, 320px);
	margin: auto;
}

.icon_autor {
	display: none;
}