html {
	font-size: 14px;
}

body {
	position: relative;
	margin: auto;
}

.wrap {
	@include min-max (1030px, 320px);
	margin: auto;
}

.container {
	@include min-max (1440px, 320px);
	margin: auto;
}

@media (min-width: 2000px) {
	.container {
		max-width: calc(1440px + 20vw);
	}
}

.icon_autor {
	display: none;
}