@font-face {
    font-family: 'myriad_proregular';
    src: url('../fonts/myriadpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/myriadpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}