$header--bg: #2f2f2f;
$header__logo--color: #ebecec;
$header__title--color: #ffc200;
$header__text--color: #fff;
$button--color: #333;
$header__search-form--bg: rgba(10, 10, 10, 0.9);
$header__search-input--border: rgb(162, 161, 161);
$best-sellers__title--color: #333;