$header--bg: #2f2f2f;
$header__logo--color: #ebecec;
$header__title--color: #ffc200;
$header__text--color: #fff;
$button--color: #333;
$header__search-form--bg: rgba(10, 10, 10, 0.9);
$header__search-input--border: rgb(162, 161, 161);
$best-sellers__title--color: #333;
$statistics--bg: #303030;
$subscribe--bg: #f4f4f4;
$subscribe__input--shadow: #e5e5e5;
$lenora-fields__before--color: #ffac07;