.lenora-fields {
    padding: 50px 10px 40px;
    background-image: url('../images/best-seller-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: brightness(1.35);

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $header__title--color;
        opacity: 0.6;
        z-index: 1;
    }
}

@media (min-width: 426px) {
	.lenora-fields {
        padding: 150px 100px 100px;
	}
}

@media (min-width: 1025px) {
	.lenora-fields {
        padding: 270px 200px 250px;
	}
}

@media (min-width: 2000px) {
	.lenora-fields {
        padding: calc(270px + 0.3vw) calc(200px + 0.3vw) calc(250px + 0.3vw);
	}
}