.best-sellers__elem-text {
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16.86px;
    color: $best-sellers__title--color;
    margin-top: 27px;
    width: 230px;
    display: block;
    margin: auto;
}