.best-sellers__text {
    text-align: center;
    flex-basis: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25.23px;
    color: $best-sellers__title--color;
    margin-top: 50px;
    padding: 0 110px;
}