.best-sellers__text {
    text-align: center;
    flex-basis: 100%;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 25.23px;
    color: $best-sellers__title--color;
    margin-top: 64px;
    padding: 0;
}

@media (min-width: 980px) {
	.best-sellers__text {
        padding: 0 166px;
	}
}

@media (min-width: 2000px) {
	.best-sellers__text {
		font-size: calc(25px + 0.5vw);
        margin-top: calc(64px + 0.3vw);
        padding: 0 calc(166px + 0.3vw);
	}
}