.header__nav-elem-link {
    text-decoration: none;
    color: $header__logo--color;
    text-decoration: none;
    font-family: 'myriad_proregular';
    font-weight: 400;
    font-size: 25px;

    &:hover {
        text-decoration: underline;
    }
}