.best-sellers__elem {
    flex-basis: 100%;
    margin-top: 50px;
}

@media (min-width: 763px) {
	.best-sellers__elem {
		flex-basis: 50%;
	}
}

@media (min-width: 1025px) {
	.best-sellers__elem {
		flex-basis: 33.333333%;
        margin-top: 110px;
	}
}

@media (min-width: 2000px) {
	.best-sellers__elem {
		margin-top: calc(110px + 0.3vw);
	}
}