.oriental-taste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        background-image: url('../images/bg-paint-orinteal-taste.png');
        background-repeat: no-repeat;
        background-position-y: -20pxx;
        background-size: cover;
        width: 100%;
        height: 823px;
        position: absolute;
        left: 0;
        bottom: -2px;
        z-index: 1;
        background-position: 0px 20px;
    }
}

@media (min-width: 850px) {
	.oriental-taste {

        &::before {
            height: 628px;
        }
	}
}

@media (min-width: 2000px) {
	.oriental-taste {

        &::before {
            height: calc(628px + 6vw);
        }
	}
}