.chicken-grill {
    flex-direction: row-reverse;
    padding-bottom: 120px;

    &::before {
        transform: rotate(180deg);
        bottom: -152px;
        height: 1018px;
    }
}

@media (min-width: 426px) {
	.chicken-grill {
        padding-bottom: 149px;

        &::before {
            bottom: -4px;
            height: 926px;
        }
	}
}

@media (min-width: 769px) {
	.chicken-grill {

        &::before {
            bottom: 109px;
            height: 576px;
        }
	}
}

@media (min-width: 1025px) {
	.chicken-grill {
        
        &::before {
            bottom: 95px;
        }
	}
}

@media (min-width: 2000px) {
	.chicken-grill {
        padding-bottom: calc(220px - 0.3vw);

        &::before {
            bottom: calc(36px - 0.3vw);
            height: calc(750px + 0.3vw);
        }
	}
}

