.footer__social-link {
    width: 44px;
    height: 44px;
    background-color: $header__text--color;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    margin-right: 14px;
    margin-top: 40px;
}