.footer__social-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 2000px) {
    .footer__social-icon {
        width: calc(25px + 0.5vw);
        height: calc(25px + 0.5vw);
    }
}