.lenora-fields__title {
    font-family: 'Grand Hotel', cursive;
    font-size: 4rem;
    color: $button--color;
    font-weight: 400;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 30px;
}

@media (min-width: 769px) {
	.lenora-fields__title  {
        margin-top: 24px;
	}
}

@media (min-width: 1025px) {
	.lenora-fields__title  {
        font-size: 74.19px;
	}
}

@media (min-width: 2000px) {
	.lenora-fields__title  {
        margin-top: calc(110px + 0.3vw);
        font-size: calc(74.19px + 0.5vw);
	}
}