.header__nav {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 5;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: stretch;
}



@media (min-width: 451px) {
	.header__nav {
		justify-content: space-between;
        width: 70%;
	}
}

@media (min-width: 1025px) {
	.header__nav {
        top: 46px;
        right: 42px;
        width: 55%;
	}
}

@media (min-width: 2000px) {
	.header__nav {
		right: calc(42px + 0.3vw);
        top: calc(46px + 0.1vw);
	}
}