.oriental-taste__text {
    margin-top: 30px;
    font-family: 'Montserrat';
    font-size: 1.4rem;
    color: $header__text--color;
    font-weight: 400;
    text-align: center;
}

@media (min-width: 850px) {
	.oriental-taste__text {
		text-align: start;
	}
}

@media (min-width: 1025px) {
	.oriental-taste__text {
		margin-top: 75px;
        font-size: 25px;
		line-height: 35px;
	}
}

@media (min-width: 2000px) {
	.oriental-taste__text {
		margin-top: calc(75px + 0.3vw);
        font-size: calc(25px + 0.5vw);
		line-height: calc(50px + 0.5vw);
	}
}