.footer__info-wrap {
    flex-basis: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

@media (min-width: 769px) {
    .footer__info-wrap {
        flex-basis: 50%;
    }
}

@media (min-width: 1025px) {
    .footer__info-wrap {
        text-align: left;
        display: block;
        flex-basis: 48%;
        margin-top: 0;
    }
}

@media (min-width: 2000px) {
    .footer__info-wrap {
        padding-right: calc(20px + 0.3vw);
        flex-basis: 45%;
    }
}