.statistics__decoration_onion-1 {
    left: 79%;
    top: 37%;
    transform: rotate(0);
}

@media (min-width: 769px) {
	.statistics__decoration_onion-1 {
		left: 87%;
        top: 8%;
	}
}

@media (min-width: 1025px) {
	.statistics__decoration_onion-1 {
		left: 92%;
        top: 50%;
	}
}