.statistics__decoration_tomat-1 {
    left: -2%;
    top: 54%;
    transform: rotate(0deg);
}

@media (min-width: 426px) {
	.statistics__decoration_tomat-1 {
		left: 2%;
        top: 76%;
	}
}

@media (min-width: 769px) {
	.statistics__decoration_tomat-1 {
		left: 61%;
        top: 68%;
	}
}