.oriental-taste__image {
    width: 475px;
    height: 475px;
    border-radius: 50%;
    background-image: url('../images/best-seller-4.jpg');
    background-position: right top;
    background-size: 951px 574px;
    display: block;
    position: relative;
    z-index: 2;
}