.oriental-taste__image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url('../images/best-seller-4.jpg');
    background-position: right top;
    background-size: 687px 436px;
    display: block;
    position: relative;
    z-index: 2;
}

@media (min-width: 420px) {
	.oriental-taste__image {
		width: 375px;
        height: 375px;
        background-size: 951px 574px;
	}
}

@media (min-width: 1200px) {
	.oriental-taste__image {
		width: 475px;
        height: 475px;
        background-size: 951px 574px;
	}
}

@media (min-width: 2000px) {
	.oriental-taste__image {
		width: calc(475px + 0.5vw);
        height: calc(475px + 0.5vw);
        
	}
}