.footer__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 2.2rem;
    color: $header__text--color;
    margin-top: 17px;
    text-align: center;
    line-height: 39px;
}

@media (min-width: 769px) {
    .footer__text {
        font-size: 23.6px;
    }
}

@media (min-width: 1025px) {
    .footer__text {
        text-align: left;
        line-height: 29px;
    }
}

@media (min-width: 2000px) {
    .footer__text {
        font-size: calc(23.6px + 0.5vw);
        margin-top: calc(17px + 0.5vw);
        line-height: calc(29px + 0.5vw);;
    }
}