.header__button {
    margin-top: 26px;
	display: inline-block;
}

@media (min-width: 1025px) {
	.header__button {
		margin-top: 35px;
		display: table;
	}
}

@media (min-width: 2000px) {
	.header__button {
		margin-top: calc(35px + 0.3vw);
	}
}