.header__text-wrap {
    z-index: 3;
    position: relative;
    padding: 300px 20px;
    background-color: $header--bg;
    text-align: center;
}

@media (min-width: 800px) {
	.header__text-wrap {
		margin-left: 37%;
        padding: 150px 90px 120px 28px;
	}
}

@media (min-width: 1200px) {
	.header__text-wrap {
		padding: 228px 159px 232px 28px;
	}
}

@media (min-width: 2000px) {
	.header__text-wrap {
		padding: calc(228px + 0.2vw) calc(159px + 0.2vw) calc(232px + 0.2vw) calc(28px + 0.2vw);
	}
}