.best-sellers__image {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

@media (min-width: 2000px) {
	.best-sellers__image {
        width: calc(230px + 0.5vw);
        height: calc(230px + 0.5vw);
	}
}