.header__logo-icon {
    fill: $header__logo--color;
    height: 58px;
    width: 54px;
    position: absolute;
    top: -39%;
    left: 0;
    
}

@media (min-width: 2000px) {
	.header__logo-icon {
		height: calc(58px + 1vw);
        width: calc(54px + 1vw);
	}
}