.statistics__decoration_vetka-1 {
    left: 2%;
    top: 22%;
    transform: rotate(0deg);
}

@media (min-width: 426px) {
	.statistics__decoration_vetka-1 {
		left: 2%;
        top: 11%;
	}
}

@media (min-width: 769px) {
	.statistics__decoration_vetka-1 {
		left: 4%;
        top: 15%;
	}
}

@media (min-width: 1025px) {
	.statistics__decoration_vetka-1 {
		left: 4%;
        top: 21%;
	}
}