.best-sellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 20px 230px;
}

@media (min-width: 1025px) {
	.best-sellers {
		padding: 140px 170px 230px;
        justify-content: space-between;
	}
}