.best-sellers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 20px 230px;
}

@media (min-width: 1025px) {
	.best-sellers {
		padding: 175px 60px 362px;
        justify-content: space-between;
	}
}

@media (min-width: 2000px) {
	.best-sellers {
		padding: calc(175px + 0.3vw) calc(60px + 0.3vw) calc(362px + 0.3vw);
	}
}