.best-sellers__elem-title {
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    font-weight: 400;
    font-size: 41.67px;
    color: $best-sellers__title--color;
    margin-top: 19px;
    width: 230px;
    display: block;
    margin: auto;
}

@media (min-width: 2000px) {
	.best-sellers__elem-title {
		font-size: calc(41px + 0.7vw);
        margin-top: calc(19px + 0.3vw);
        width: calc(230px + 0.3vw);
	}
}