.statistics__decoration_chili-2 {
    left: 7%;
    top: 44%;
}

@media (min-width: 426px) {
	.statistics__decoration_chili-2 {
		left: 24%;
        top: 19%;
	}
}

@media (min-width: 1025px) {
	.statistics__decoration_chili-2 {
		left: 91%;
        top: 28%;
	}
}