.footer {
    background-color: $statistics--bg;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 10px 70px;
}

@media (min-width: 769px) {
    .footer {
        padding: 110px 50px 200px;
    }
}

@media (min-width: 1025px) {
    .footer {
        padding: 253px 77px 300px 92px;
        justify-content: space-between;
    }
}

@media (min-width: 2000px) {
    .footer {
        padding: calc(253px + 0.3vw) calc(77px + 0.3vw) calc(300px + 0.3vw) calc(92px + 0.3vw);
    }
}