.best-sellers__title {
    text-align: center;
    flex-basis: 100%;
    font-family: 'Grand Hotel', cursive;
    font-weight: 400;
    font-size: 75px;
    line-height: 0;
    color: $best-sellers__title--color;
}

@media (min-width: 2000px) {
	.best-sellers__title {
		font-size: calc(75px + 0.5vw);
	}
}