.statistics__elem {
    border: 7px solid $header__text--color;
    border-radius: 50%;
    flex-basis: 234px;
    height: 234px;
    margin-top: 50px;
    position: relative;
    margin-right: 15px;
    z-index: 5;
}

@media (min-width: 1025px) {
	.statistics__elem {
		margin-top: 87px;
        margin-right: 0;
	}
}

@media (min-width: 2000px) {
	.statistics__elem {
		flex-basis: calc(234px + 0.3vw);
        height: calc(234px + 0.3vw);
        margin-top: calc(87px + 0.3vw);
	}
}